.background--custom {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    z-index: -2;
    top: 0;
    left: 0;
}

.canvas {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 60%;
    transform: rotate(-9deg) scale(2) translateY(-69%);
    --gradient-color-1: #18534F;
    --gradient-color-2: #3EB8B0;
    --gradient-color-3: #FEEAA1;
    --gradient-color-4: #D6955B;
    --gradient-speed: 0.000006;
}